# Игнорирование файлов, находящихся в подкаталоге tmp
/tmp/

# Игнорирование файлов, оканчивающихся на _old и _backup
*_old
*_backup

Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store
# Игнорирование файлов Thumbs.db и .DS_Store
Thumbs.db
.DS_Store